<p><a href="/">Home</a></p>
<p>To:<h2><%= @to %></h2></p>
<p>From:<h3><%= @from %></h3></p><br><br>

<article id="messages"></article>
<form action="/message" method="post" id="msg-form">
  <div class=".container">
    <div class="row">
      <div class="col-lg-6">
        <div class="input-group">
          <input type="text" class="form-control" id="name-input" name="name" value="<%= @from %>">
          <input type="text" class="form-control" id="msg-input" name="name" placeholder="Msg">
          <span class="input-group-btn">
            <button class="btn btn-default" id="big-btn" type="submit">Go!</button>
          </span>
        </div><!-- /input-group -->
      </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->
  </div>
</form>