<% if @name == "loretta" %>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img class="first-slide whole" src="https://3cae59a60212f522f3a7-f078ca637b342c31ba3dddfc7a464c78.ssl.cf2.rackcdn.com/cache/feature/blossoms-mothers-day.7cc8a40ea751.jpg">
      <div class="container">
        <div class="carousel-caption">
        </div>
      </div>
    </div>
    <div class="item">
      <img class="second-slide" src="img/loretta3.jpg" alt="Second slide">
      <div class="container">
        <div class="carousel-caption">
          <h1>Happy Mothers Day!</h1>
        </div>
      </div>
    </div>
    <div class="item">
      <img class="third-slide" src="img/DSCN1093.JPG.jpg" alt="Third slide">
      <div class="container">
        <div class="carousel-caption">
          <h1>Happy Mothers Day!</h1>
        </div>
      </div>
    </div>
    <div class="item">
      <img class="fourth-slide" src="img/DSCN1122.JPG.jpg" alt="Fourth slide">
      <div class="container">
        <div class="carousel-caption">
          <h1>Happy Mothers Day!</h1>
        </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div><!-- /.carousel -->

<div class="container marketing">

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">I Appreciate All You Do <span class="text-muted">When Near or Far.</span></h2>
      <p class="lead">Thanks for all that you've done and all that you continue to do. Always looking out for me, and checking up on me, and always wanting to come visit. I know we don't talk as much as we could, but I appreciate it when we do. Thanks for asking how my program is going. I hope this shows just a tidbit of what I've learned.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive center-block" src="img/Loretta4.png" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 col-md-push-5">
      <h2 class="featurette-heading">Thank You for Being a Great Mom. <span class="text-muted">And Mother In Law.</span></h2>
      <p class="lead">Thank you for being a great mom to me. I still remember us doing those hooked on phonics books when I was so young, and how you've always kept me on top of my studies. I couldn't have made it this far with out you. Thank you also for being so welcoming and kind to Lis. I know she appreciates it and loves you very much as well.</p>
    </div>
    <div class="col-md-5 col-md-pull-7">
      <img class="featurette-image img-responsive center-block" src="img/loretta6.jpg" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Brought to You by This Guy. <span class="text-muted">Ps.</span></h2>
      <p class="lead">We are going to need to take more pictures with just the two of us in the future. It was suprisingly hard to find pictures with just the to of us, lol. I hope you are having a great mothers day. I love you.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive center-block" src="img/me.jpg" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

</div>
<% elsif @name == "gloria" || @name == "gladys" %>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img class="first-slide whole" src="https://3cae59a60212f522f3a7-f078ca637b342c31ba3dddfc7a464c78.ssl.cf2.rackcdn.com/cache/feature/blossoms-mothers-day.7cc8a40ea751.jpg">
      <div class="container">
        <div class="carousel-caption">
        </div>
      </div>
    </div>
    <div class="item">
      <img class="second-slide" src="img/mama-and-gloria2.jpg" alt="Second slide">
      <div class="container">
        <div class="carousel-caption">
          <h1>Happy Mothers Day!</h1>
        </div>
      </div>
    </div>
    <div class="item">
      <img class="third-slide" src="img/mama1.jpg" alt="Third slide">
      <div class="container">
        <div class="carousel-caption">
          <h1>Happy Mothers Day!</h1>
        </div>
      </div>
    </div>
    <div class="item">
      <img class="fourth-slide" src="img/mama2.jpg" alt="Fourth slide">
      <div class="container">
        <div class="carousel-caption">
          <h1>Happy Mothers Day!</h1>
        </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div><!-- /.carousel -->

<div class="container marketing">

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">I Appreciate All You Do <span class="text-muted">When Near or Far.</span></h2>
      <p class="lead">Thanks for all that you've done and all that you continue to do. You guys have always supported me and continue do so and I really appreciate it. I couldn't have asked for a better grandmother and godmother.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive center-block" src="img/mama-and-gloria1.jpg" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Brought to You by This Guy. <span class="text-muted"></span></h2>
      <p class="lead">I hope you are having a great mothers day. I love you both very much.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive center-block" src="img/me.jpg" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

</div>
<% end %>